## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from G_key import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [7]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Vaini,TO,84.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
1,6,Puerto Ayora,EC,75.38,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
2,8,Mandera,KE,81.25,broken clouds,3.9366,41.8670,Hiren Hotel Mandera
3,9,New Norfolk,AU,78.89,overcast clouds,-42.7826,147.0587,The Shingles Riverside Cottages
4,10,Hilo,US,72.28,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel

In [10]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [12]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Siderno")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Siderno")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "San Javier")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Aljezur")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Safi")]

In [15]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
227,468,Siderno,IT,60.33,overcast clouds,38.2779,16.302,Grand Hotel President

In [18]:
(vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6])

(38.2779, 16.302)

In [19]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6])
end = (vacation_end.to_numpy()[0][5], vacation_end.to_numpy()[0][6])
stop1 = (vacation_stop1.to_numpy()[0][5], vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5], vacation_stop2.to_numpy()[0][6])
stop3 = (vacation_stop3.to_numpy()[0][5], vacation_stop3.to_numpy()[0][6])

In [20]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

cities_route = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")
fig.add_layer(cities_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,468,Siderno,IT,60.33,overcast clouds,38.2779,16.3020,Grand Hotel President
1,691,San Javier,ES,62.33,clear sky,37.8063,-0.8374,Hotel Mar Menor
2,126,Aljezur,PT,60.28,broken clouds,37.3191,-8.8033,Amazigh Hostel
3,268,Safi,MA,65.48,overcast clouds,32.2994,-9.2372,Hôtel Abda

In [23]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
locations.head()

       Lat      Lng
0  38.2779  16.3020
1  37.8063  -0.8374
2  37.3191  -8.8033
3  32.2994  -9.2372

In [24]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))